services:
  main-server:
    build: .
    ports:
      - 8080:8080
    depends_on:
      redis-cache-server:
        condition: service_healthy
      redis-token-server:
        condition: service_healthy
      mysql-db:
        condition: service_healthy


  mysql-db:
    image: mysql:8.4.5
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: zypt
    volumes:
      - ./mysql_data:/var/lib/mysql
    ports:
      - 33109:3306
    healthcheck:
      test: ["CMD", "mysqladmin", "ping"]
      interval: 5s
      retries: 10


  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - monitoring

  redis-cache-server:
    image: redis
    ports:
      - 6380:6379
    volumes:
      # - ./redis-data:/data
      - ./init-level-exp.lua:/init-level-exp.lua
      - ./entrypoint.sh:/entrypoint.sh
    entrypoint: ["/entrypoint.sh"]
    restart: unless-stopped # 사용자가 원하면 종료, 아니라면 예기치않은 종료시 재시작
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      retries: 10

  redis-token-server:
    image: redis
    ports:
      - 6379:6379
    restart: unless-stopped # 사용자가 원하면 종료, 아니라면 예기치않은 종료시 재시작
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      retries: 10

networks:
  monitoring:
    driver: bridge